[submodule "resume"]
	path = resume
	url = https://github.com/ozyman42/resume
[submodule "AlexLeungOnline"]
	path = AlexLeungOnline
	url = https://github.com/ozyman42/AlexLeungOnline
[submodule "bzlsubmod"]
	path = bzlsubmod
	url = https://github.com/ozyman42/bzlsubmod
[submodule "ozy-app"]
	path = ozy-app
	url = https://github.com/ozyman42/ozy-app
